<div class="flex flex-col items-center space-y-10">
  <h1 class="text-5xl font-bold"><%= link_to t("static_pages.top.title") %></h1>
  <%= image_tag "onigiri.png", alt: "Onigiri logo", class: "h-60 w-120" %>
</div>
