<% if resource.errors.any? %>
  <div class="alert alert-error p-6" id="error_explanation" data-turbo-cache="false">
    <ul class="list-disc">
      <% resource.errors.full_messages.each do |message| %>
        <li><span class="text-xs sm:text-sm md:text-base"><%= message %></li>
        </span>
      <% end %>
    </ul>
  </div>
<% end %>
