<% flash.each do |type, message| %>
  <div data-controller="flash" class="toast toast-top toast-center">
    <div class="flex items-center whitespace-nowrap alert <%= type == "notice" ? "alert-success" : "alert-error" %>">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-4 w-4 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" viewBox="0 0 24 24">
        <% if type == "notice" %>
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        <% else %>
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        <% end %>
      </svg>
      <span class="text-xs sm:text-sm md:text-base"><%= message %></span>
    </div>
  </div>
<% end %>
