<footer>
  <div class="flex justify-center gap-6 p-4">
    <%= link_to t("shared.footer.terms_of_service"), "#", class: "link link-hover" %>
    <%= link_to t("shared.footer.contact"), "#", class: "link link-hover" %>
  </div>
</footer>
