<footer class="p-5">
  <div class="text-center">
    <%= link_to t("shared.footer.terms_of_service"), "#", class: "link link-hover" %>
    <%= link_to t("shared.footer.contact"), "#", class: "link link-hover" %>
  </div>
</footer>
