<footer class="bg-white">
  <ul class="flex justify-center gap-6 p-4">
    <li><%= link_to t("shared.footer.terms_of_service"), "#", class: "link link-hover" %></li>
    <li><%= link_to t("shared.footer.contact"), "#", class: "link link-hover" %></li>
  </ul>
</footer>
