<footer class="bg-white">
  <ul class="flex justify-center gap-6 p-4">
    <li><%= link_to t("defaults.terms_of_service"), "https://kiyac.app/termsOfService/irLBMVrx7DpxxxTkrJTj", class: "link link-hover", target: "_blank", rel: "noopener" %></li>
    <li><%= link_to t("defaults.privacy_policy"), "https://kiyac.app/privacypolicy/EUhTMocT4INUTEElzvoq", class: "link link-hover", target: "_blank", rel: "noopener" %></li>
    <li><%= link_to t("shared.footer.x"), "https://x.com/RiceBallRecipe", class: "link link-hover", target: "_blank", rel: "noopener" %></li>
  </ul>
</footer>
