<header class="w-full max-w-screen-xl sticky top-0 z-20 bg-base-100 rounded-box shadow-sm p-1 md:p-2 lg:p-3">
  <nav class="navbar">
    <div class="flex-1">
      <%= link_to root_path, class: "btn btn-ghost" do %>
        <%= image_tag "onigiri.png", alt: "Onigiri logo", class: "h-12 w-12" %>
        <span class="text-xs sm:text-sm md:text-base lg:text-lg font-bold"><%= t("defaults.service_title") %></span>
      <% end %>
    </div>
    <div class="flex-none">
      <%= button_to t("shared.header.logout"), destroy_user_session_path, method: :delete, class: "btn btn-xs sm:btn-sm md:btn-md btn-neutral" %>
    </div>
  </nav>
</header>
