<div class="flex nested-fields" data-ingredient-forms-target="ingredientFields">
  <div class="form-control w-2/3">
    <%= f.text_field :name, class: "input input-xs sm:input-sm md:input-md input-bordered w-full", placeholder: t("defaults.ingredient_name_placeholder") %>
  </div>
  <div class="form-control w-1/3">
    <%= f.text_field :amount, class: "input input-xs sm:input-sm md:input-md input-bordered w-full", placeholder: t("defaults.ingredient_amount_placeholder") %>
  </div>
  <div class="form-control w-12">
    <%= link_to "#", data: { action: "click->ingredient-forms#removeForm" }, class: "btn btn-xs sm:btn-sm md:btn-md btn-error" do %>
      <i class="fa-solid fa-xmark"></i>
    <% end %>
    <%= f.hidden_field :_destroy %>
  </div>
</div>
